<a href="https://bradmax.com" rel="noopener" target="_blank">
	<img alt="Bradmax Ltd." width="500px" src="https://raw.githubusercontent.com/bradmax-com/bradmax-player-ng/master/assets/md/bradmax.svg?sanitize=true"/>
</a>

<a href="https://angular.io" rel="noopener" target="_blank">
	<img alt="Angular" width="90px" src="https://raw.githubusercontent.com/bradmax-com/bradmax-player-ng/master/assets/md/ng.svg?sanitize=true"/>
</a>

<h1>Welcome to {{ title }}!</h1>

<h2>skin gorilla</h2>
<bradmax-player-gorilla [config]="config"></bradmax-player-gorilla>

<h2>skin mole</h2>
<bradmax-player-mole [config]="config"></bradmax-player-mole>

<h2>skin snake</h2>
<bradmax-player-snake [config]="config"></bradmax-player-snake>

<h2>skin zebra</h2>
<bradmax-player-zebra [config]="config"></bradmax-player-zebra>

<h2>Here are some links to help you start: </h2>
<ul>
	<li>
		<h2>
			<a target="_blank" rel="noopener" href="https://bradmax.com/static/player-doc/">Bradmax Player Documentation</a>
		</h2>
	</li>
	<li>
		<h2>
			<a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
		</h2>
	</li>
	<li>
		<h2>
			<a target="_blank" rel="noopener" href="https://bradmax.com">Bradmax</a>
		</h2>
	</li>
</ul>
